.spinner {
  width: 72px;
  height: 72px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-left-color: #140538;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

#spinner {
  display: flex;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
